{
  "extends": ["wesbos"],
  "plugins": ["react"],
  "rules": {
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "no-nested-ternary": "off",
    "no-plusplus": "off",
    "react/prop-types": 0,
    "react/jsx-props-no-spreading": "off",
    "no-unused-expressions": ["error", { "allowShortCircuit": true }],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "none",
        "singleQuote": true,
        "printWidth": 80,
        "tabWidth": 2
      }
    ]
  }
}
