{
  "extends": ["wesbos"],
  "rules": {
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "none",
        "singleQuote": true,
        "printWidth": 80,
        "tabWidth": 2
      }
    ]
  }
}
